# Copy this file to .env and fill in your actual MongoDB Atlas connection string
PORT=5000
MONGO_URI=mongodb+srv://ForgePC_db_user:uchiha123@forgepc-cluster.3syqomr.mongodb.net/?appName=ForgePC-Cluster
JWT_SECRET=super_secret_jwt_key_that_is_very_long
